:root[data-theme="dark"] {
    --lightBackgroundButtonPrimaryBrandDefault: rgb(79, 162, 219);
    --lightBackgroundButtonPrimaryBrandDisabled: rgb(12, 73, 135);
    --lightBackgroundButtonPrimaryBrandHover: rgb(188, 221, 242);
    --lightBackgroundButtonSecondaryErrorHover: rgb(244, 69, 84);
    --lightBackgroundIconDefault: rgb(250, 250, 250);
    --lightBackgroundInputDefault: rgb(66, 66, 66);
    --lightBackgroundSwitchOff: rgb(66, 66, 66);
    --lightBackgroundSwitchOn: rgb(79, 162, 219);
    --lightBrandBase: rgb(79, 162, 219);
    --lightBrandDark: rgb(188, 221, 242);
    --lightBrandLight: rgb(12, 73, 135);
    --lightErrorBase: rgb(244, 69, 84);
    --lightErrorDark: rgb(255, 203, 211);
    --lightErrorLight: rgb(190, 0, 29);
    --lightNeutral100: rgb(66, 66, 66);
    --lightNeutral200: rgb(97, 97, 97);
    --lightNeutral300: rgb(117, 117, 117);
    --lightNeutral400: rgb(158, 158, 158);
    --lightNeutral50: rgb(33, 33, 33);
    --lightNeutral500: rgb(189, 189, 189);
    --lightNeutral600: rgb(224, 224, 224);
    --lightNeutral700: rgb(238, 238, 238);
    --lightNeutral800: rgb(245, 245, 245);
    --lightNeutral900: rgb(250, 250, 250);
    --lightStrokeButtonSecondaryErrorDefault: rgb(244, 69, 84);
    --lightStrokeButtonSecondaryErrorDisabled: rgb(190, 0, 29);
    --lightStrokeDividerDefault: rgb(66, 66, 66);
    --lightStrokeInputDefault: rgb(97, 97, 97);
    --lightSuccessBase: rgb(66, 183, 108);
    --lightSuccessDark: rgb(154, 221, 175);
    --lightSuccessLight: rgb(0, 135, 59);
    --lightSurfaceSurface1: rgb(33, 33, 33);
    --lightSurfaceSurface2: rgb(97, 97, 97);
    --lightTextHeadlineBrand: rgb(255, 255, 255);
    --lightTextHeadlineWhite: rgb(255, 255, 255);
    --lightTextParagraphBlack: rgb(255, 255, 255);
    --lightTextParagraphError: rgb(244, 69, 84);
    --lightTextParagraphWhite: rgb(255, 255, 255);
    --lightTextSubtitle: rgb(158, 158, 158);
    --lightTriggerSwitchOff: rgb(255, 255, 255);
    --lightTriggerSwitchOn: rgb(255, 255, 255);
    --lightWarningBase: rgb(255, 165, 37);
    --lightWarningDark: rgb(255, 223, 178);
    --lightWarningLight: rgb(230, 79, 1);
    --lightWhite: rgb(255, 255, 255);
}
